.sectionIn, .section2{
    .hero{
        padding: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.2em;
        background-color: pink;
    }



}

.cabecera{
    padding: 20px 0 10px;

    text-align: center;

    .container-fluid{
        position: absolute;
        top: 0;
    }

    h2{
        font-size:var(--h2);
        font-family: var(--secundariaBold);
        color: var(--primaryColor);
    }

    h3{
        font-size:var(--h3);
        color: var(--primaryColor);
    }
}
