.residences{
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--brandColor-cream);
  @media (max-width: 480px){
    padding: 50px 0;
  }

  .header-residences{
    margin-bottom: 135px;
    @media (max-width: 480px){
      margin-bottom: 50px;
    }

    .title-area{
      h2{
        font-size: 122px;
        color: var(--brandColor-green);
        line-height: 126px;

        @media (max-width: 480px){
          font-size: 50px;
          line-height: 60px;
        }
      }

    }
    .text-area{
      color: var(--brandColor-green);
      max-width: 537px;
      margin-left: auto;


      p{
        font-size: 17px;
        line-height: 26px;
        margin-left: auto;
      }
      a{
        background-color: var(--brandColor-green);
        border-radius: 60px;
        border: 1px solid var(--brandColor-green);
        color: var(--brandColor-cream);
        padding: 10px 30px;
        margin-top: 10px;
        display: inline-block;
        font-size: 13px;
        line-height: 19px;
        text-transform: uppercase;
        font-family: var(--at-surt-exp);

        &:hover{
          text-decoration: none;
          background-color: var(--brandColor-jade);
          color: var(--brandColor-green);
        }
      }
    }
  }
  .galleries{
    .galleries-container{
      margin-bottom: 135px;
      max-height: 581px;
      overflow: hidden;
      @media (max-width: 480px){
        margin-bottom: 50px;
      }

    }
    .filters{
      width: 100%;
      max-width: 461px;
      padding: 0 15px;
      display: flex;
      @media (max-width: 480px){
        margin-bottom: 50px;
      }

      ul{
        @include unstyled-list;
        flex-flow: column;
        border-top: 1px solid var(--brandColor-green);
        margin-top: auto;
        width: 100%;
        margin-bottom: 0;

        li{
          cursor: pointer;
          width: 100%;
          color: var(--brandColor-green);
          text-transform: uppercase;
          padding: 20px 0;
          border-bottom: 1px solid var(--brandColor-green);
          font-size: 14px;

          &:not(.collapsed), &:hover{
            font-weight: bold;
            background-image: url("/img/asterisco.webp");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 20px;
          }
        }
      }
    }
    .sliders{
      width: 100%;
      max-width: 800px;
      margin-left: 94px;
      @media (max-width: 480px){
        margin-left: 0;
      }
      .swiper-button-prev{
        width: 47px;
        left: 3%;
        right: auto;
        bottom: 5%;
        top: auto;
        @media (max-width: 480px){
          bottom: 30%;
        }
        &:after{
          content: "";
          background-image: url("/img/prev.webp");
          width: 47px;
          height: 47px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .swiper-button-next{
        width: 47px;
        right: 20%;
        left: auto;
        bottom: 5%;
        top: auto;
        @media (max-width: 480px){
          bottom: 30%;
          right: 3%;
        }
        &:after{
          content: "";
          background-image: url("/img/next.webp");
          width: 47px;
          height: 47px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  h3{
    font-size: 16px;
    font-family: var(--at-surt-bold-exp);
    line-height: 22px;
    color: var(--brandColor-green);
    margin-bottom: 30px;
  }
  .list-area {
    display: flex;
    @media (max-width: 480px){
        flex-flow: column;
    }
    ul{
      @include unstyled-list;
      flex-flow: column;
      margin-right: 100px;
      @media (max-width: 480px){
        margin-right: 30px;
        margin-bottom: 0;
      }

      li{
        width: 100%;
        font-size: 23px;
        line-height: 39px;
        font-family: var(--at-surt-light-exp);
        color: var(--brandColor-green);
        padding-left: 20px;
        @media (max-width: 480px){
          font-size: 16px;
          line-height: 22px;
        }

        &:before{
          content: "";
          width: 5px;
          height: 5px;
          background-color: var(--brandColor-green);
          display: block;
          border-radius: 100px;
          position: relative;
          left: -20px;
          top: 50%;
          @media (max-width: 480px){
            top: 14px;
          }
        }
      }
    }
  }
}
.residence-types{
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: var(--brandColor-cream);

  @media (max-width: 480px){
    padding: 50px 0;
  }

  #mainFilter{
    .title-filter{
      display: flex;
      margin-bottom: 30px;
      @media (max-width: 480px){
        flex-flow: column;
      }
      h3 {
        font-size: 34px;
        line-height: 46px;
        font-family: var(--at-surt-light-exp);
        color: var(--brandColor-green);
      }
      .mainFilterFilters{
        display: flex;
        margin-left: 50px;
        @media (max-width: 480px){
          margin-left: 0;
        }

        p{
          margin-bottom: 0;
          margin-right: 30px;
          background-color: var(--brandColor-cream);
          color: var(--brandColor-green);
          font-size: 13px;
          line-height: 19px;
          font-family: var(--at-surt-exp);
          align-self: center;
          padding: 15px 30px;
          text-transform: uppercase;
          border: 1px solid var(--brandColor-green);
          @media (max-width: 480px){
            padding: 15px;
          }

          &:not(.collapsed), &:hover{
            color: var(--brandColor-cream);
            background-color: var(--brandColor-green);
          }
        }
      }
    }
    .mainFilterContent .swiper-slide {
      display: flex;
      text-align: left;
      @media (max-width: 480px){
        flex-flow: column;
      }

      .img-container{
        max-width: 68%;
        @media (max-width: 480px){
          max-width: 100%;
        }
      }
      .text-container{
        max-width: 32%;
        background-color: var(--brandColor-green);
        color: var(--brandColor-cream);
        padding: 67px 55px 67px 38px;
        position: relative;
        @media (max-width: 480px){
          padding: 30px 30px 80px 30px;
          max-width: 100%;
          min-height: 600px;
        }

        .label{
          font-size: 13px;
          line-height: 19px;
          font-family: var(--at-surt-exp);
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        .title{
          font-size: 22px;
          line-height: 30px;
          font-family: var(--at-surt-exp);
          text-transform: uppercase;
        }
        .content{
          p {
            font-size: 17px;
            line-height: 23px;
          }
          ul{
            flex-flow: column;
            min-width: 422px;
            padding-left: 15px;

            li{
              font-size: 17px;
              line-height: 23px;
            }
          }
          button{
            color: var(--brandColor-jade);
            text-transform: uppercase;
            font-size: 13px;
            font-family: var(--at-surt-exp);
            line-height: 19px;
            padding-right: 25px;
            margin-top: 30px;
            background: none;
            border: none;
            border-bottom: 2px solid var(--brandColor-jade);
            background-image: url(/img/ionic-ios-arrow-forward.webp);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 8px;
          }
        }
        .swiper-pagination{
          position: static;
          margin: 0 0 55px;
          font-size: 13px;
          font-family: var(--at-surt-exp);
          text-align: left;

          @media (max-width: 480px){
            margin-bottom: 20px;
          }
        }
        .swiper-button-prev,
        .swiper-button-next{
          width: 47px;
          bottom: 33px;
          top: auto;
          @media (max-width: 480px){
            bottom: 15px;
          }
          &:after{
            font-family: var(--at-surt-exp);
            font-size: 13px;
            color: var(--brandColor-jade);
            background-repeat: no-repeat;
            background-size: 8px;
          }
        }
        .swiper-button-prev{
          left: 54px;
          &:after{
            content: "ANTERIOR";
            background-image: url(/img/ionic-ios-arrow-backward.webp);
            padding-left: 25px;
          }
        }
        .swiper-button-next{
          right: 79px;
          left: auto;

          &:after{
            content: "SIGUIENTE";
            background-image: url(/img/ionic-ios-arrow-forward.webp);
            padding-right: 25px;
            background-position: right;
          }
        }
      }
    }
  }
}
.modal {

  .modal-dialog {
    max-width: 95%;
    margin: auto;
    top: 5%;

    .modal-body {
      display: flex;
      background-color: var(--brandColor-ligth-green);
      padding: 45px;

      .title-container{
        max-width: 500px;
        h4 {
          font-size: 102px;
          color: var(--brandColor-green);
        }
      }
      .img-container{
        height: 100%;
        img {
          max-height: 700px;
        }

        &.small {
          margin-top: auto;
          margin-left: 20px;
          img{
            max-height: 260px;
          }
        }
      }
      button.close {
        position: absolute;
        right: 38px;
        top: 38px;
        font-size: 13px;
        font-family: var(--at-surt-exp);
        line-height: 19px;
        color: var(--brandColor-green);
        opacity: 1;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: normal;
      }
    }
  }
}
