footer.footer#contacto
  .container
      .d-md-flex
        .col-12
          .img-area
            img(src="/img/footer-logo.webp")
      .d-md-flex.contacto
        .col-md-3.ubi
          .img-area
            img(src="/img/location-footer.webp")
          .text-area
            h3 Salas de ventas
            p Visítanos
            p Panamá Oeste - Costanera
        .col-md-3.tel
          .img-area
            img(src="/img/celular-footer.webp")
          .text-area
            h3 Teléfono
            p Llama o escríbenos
          .whatsapp-area
            .img-area
              img(src="/img/simple-whatsapp.webp")
            p 6794-2507
        .col-md-3.correo
          .img-area.wider
            img(src="/img/correo-footer.webp")
          .text-area
            h3 E-mail
            p Envíanos un correo
            p ventasbayside@glp.com.pa
        .col-md-3.links
          .links-area
            a(href="#") Ubicación
            a(href="#") Residences
            a(href="#") Galeria
            a(href="#") Hotel
            a(href="#") Contacto
      .d-md-flex.copyrigth       
        .col-12
          .copyrigth-area 
            p © 2022 Bayside. All rights reserved.
                  
             


        
