header.header
  .container
    .col-12.header--navegacion
        nav.navbar-expand-lg
            #logo-brand
              a(href="/")
                picture 
                  source(srcset="/img/bayside_nav.webp", type="image/webp")
                  img(src="/img/bayside_nav.webp", alt="Home - Nav")

            .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
              span.line
              span.line
              span.line
                
            div.collapse.navbar-collapse#navbarNav
              ul
                li#li-s1.nav-item 
                  a.nav-link(href="#ubicacion") #[span Ubicación]
                li#li-s2.nav-item 
                  a.nav-link(href="#residences") #[span Residences]
                li#li-s3.nav-item 
                  a.nav-link(href="#club") #[span Club]
                li#li-s4.nav-item 
                  a.nav-link(href="#contacto") #[span Contacto]
                li#li-s5.nav-item 
                  a.nav-link(href="#agenda") #[span Agenda una cita]

                    
            
            

                           
                            
