
head
    link(rel="preload" href="css/styles.min.css" as="style")
    
    meta(charset='utf-8')
    link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    title #{titulo}
    link(rel="stylesheet" href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
