.modal.fade#modal1(tabindex='-1', role='dialog', aria-labelledby='modal1Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Quintas Del Mar
        .img-container
          img(src="/img/Quintas-del-mar-planta.webp")
.modal.fade#modal2(tabindex='-1', role='dialog', aria-labelledby='modal2Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Quintas Plus
        .img-container
          img(src="/img/QUINTAS-PLUS-PLANTA.webp")
.modal.fade#modal3(tabindex='-1', role='dialog', aria-labelledby='modal3Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Sabana
        .img-container
          img(src="/img/Sabana-Planta.webp")
.modal.fade#modal4(tabindex='-1', role='dialog', aria-labelledby='modal4Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Pradera
        .img-container
          img(src="/img/PRADERA-planta.webp")
.modal.fade#modal5(tabindex='-1', role='dialog', aria-labelledby='modal5Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Pradera Plus
        .img-container
          img(src="/img/PRADERA-planta.webp")
.modal.fade#modal6(tabindex='-1', role='dialog', aria-labelledby='modal6Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Modelo A
        .img-container
          img(src="/img/Planta-TownHome-A.webp")
.modal.fade#modal7(tabindex='-1', role='dialog', aria-labelledby='modal7Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Modelo B
        .img-container
          img(src="/img/Planta-TownHome-B.webp")
.modal.fade#modal8(tabindex='-1', role='dialog', aria-labelledby='modal8Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Modelo C
        .img-container
          img(src="/img/Planta-TownHome-C-1.webp")
        .img-container.small
          img(src="/img/Planta-TownHome-C-2.webp")
.modal.fade#modal9(tabindex='-1', role='dialog', aria-labelledby='modal9Label', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') Cerrar X
        .title-container
          h4.heading Planta Modelo D
        .img-container
          img(src="/img/Planta-TownHome-D-1.webp")
        .img-container.small
          img(src="/img/Planta-TownHome-D-2.webp")
          
          
section.residences#residences
  .container
    .d-md-flex.header-residences
      .col-md-6
        .title-area
          h2.heading Bayside residences
      .col-md-6
        .text-area
          p #[b Ser parte de la comunidad de residentes de Bayside Residences te permite el placer de terminar un largo día escogiendo desde dónde mirar el atardecer:] desde la comodidad de tu jardín, sobre la arena, ejercitándote en nuestras áreas verdes o canchas, caminando hacia el los comercios del Village, en la terraza de uno de los restaurantes, desde la piscina o desde alguno de nuestros clubs. ¡Tú eliges!
          a(href="#") Agenda una cita
          
  .galleries#accordion
    .container.pr-md-0
      .d-md-flex.galleries-container
        .filters
          ul
            li#headingOne(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Retail Village
            li.collapsed#headingTwo(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo') Club de playa con lagoon pools, gimnasio y spa
            li.collapsed#headingThree(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree') Casas Recidenciales Unifamiliares
            li.collapsed#headingFour(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour') Townhouses
        .sliders
          #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
            .swiper-container.gallery-slide
              .swiper-wrapper
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='First slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Second slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Third slide')
              
              .swiper-button-prev
              .swiper-button-next
          #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
            .swiper-container.gallery-slide
              .swiper-wrapper
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='First slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Second slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Third slide')
              
              .swiper-button-prev
              .swiper-button-next
          #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
            .swiper-container.gallery-slide
              .swiper-wrapper
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='First slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Second slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Third slide')
              
              .swiper-button-prev
              .swiper-button-next
          #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordion')
            .swiper-container.gallery-slide
              .swiper-wrapper
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='First slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Second slide')
                .swiper-slide
                  img(src='/img/slider-gallery.webp' alt='Third slide')
              
              .swiper-button-prev
              .swiper-button-next
           
      .d-md-flex
        .col-md-8.offset-md-4
          .text-area
            h3 OTRAS AMENIDADES DE BAYSIDE:
          .list-area
            ul
              li Diferentes tipos de restaurantes
              li Salones de fiesta y eventos
              li Área para fogatas
              li Kids club con actividades
              li Coworking con salas de reuniones
            ul
              li Mil metros de playa
              li Senderos verdes
              li Bar de playa
              li Salón de belleza

section.residence-types
  .container
    .col
      #mainFilter
        .title-filter
          h3 Tipos de residencias:
          .mainFilterFilters
            p#headingMainOne(data-toggle='collapse' data-target='#collapseMainOne' aria-expanded='true' aria-controls='collapseMainOne') Tipo A: Casas Residenciles
            p.collapsed#headingMainTwo(data-toggle='collapse' data-target='#collapseMainTwo' aria-expanded='false' aria-controls='collapseMainTwo') Tipo B: Townhouses
          
        .mainFilterContent
          #collapseMainOne.collapse.show(aria-labelledby='headingMainOne' data-parent='#mainFilter')
            .swiper-container.residences-slider
              .swiper-wrapper
                .swiper-slide
                  .img-container
                    img(src="/img/quintas-del-mar.webp")
                  .text-container
                    p.label Tipo A: Casas Residenciles
                    h3.title Quintas del mar
                    .swiper-pagination
                    .content 
                      p Residencia de 3 recámaras y 2 baños, con terraza cubierta y 1 estacionamiento (techado opcional) Viviendas bifamiliares a desarrollar en terrenos de 1000m#[sup 2]. 
                      p #[b Puede construir segunda propiedad en el terreno posterior, de uno o dos niveles, según guías de diseño.]
                      button(type='button', data-toggle='modal', data-target='#modal1') Ver Planta
                    .swiper-button-next
                  
                .swiper-slide
                  .img-container
                    img(src="/img/quintas-plus.webp")
                  .text-container
                    p.label Tipo A: Casas Residenciles
                    h3.title Quintas Plus
                    .swiper-pagination
                    .content 
                      p Residencia de 3 recámaras y 2 baños, con portal de entrada, cocina integrada, cuarto de lavandería, terraza cubierta y 1 estacionamiento (techado opcional) Viviendas bifamiliares a desarrollar en terrenos de 1000m#[sup 2]. 
                      p #[b Puede construir una segunda propiedad en el terreno posterior, de uno o dos niveles, según guías de diseño.]
                      button(type='button', data-toggle='modal', data-target='#modal2') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
              
                .swiper-slide
                  .img-container
                    img(src="/img/sabana.webp")
                  .text-container
                    p.label Tipo A: Casas Residenciles
                    h3.title Sabana
                    .swiper-pagination
                    .content 
                      p Residencia de 3 recámaras y 2 baños, terraza abierta y estacionamiento techado para 2 automóviles.
                      button(type='button', data-toggle='modal', data-target='#modal3') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
          
                .swiper-slide
                  .img-container
                    img(src="/img/pradera.webp")
                  .text-container
                    p.label Tipo A: Casas Residenciles
                    h3.title Pradera
                    .swiper-pagination
                    .content 
                      p Residencias tipo twin home de 3 recámaras y 2 baños, cocina integrada, lavandería externa y 1 estacionamiento (techado opcional).
                      button(type='button', data-toggle='modal', data-target='#modal4') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
            
                .swiper-slide
                  .img-container
                    img(src="/img/pradera-plus.webp")
                  .text-container
                    p.label Tipo A: Casas Residenciles
                    h3.title Pradera Plus
                    .swiper-pagination
                    .content 
                      p Residencia tipo twin home de 3 recámaras y 2 baños, recámara principal con walk-in closet y baño privado, cocina integrada, cuarto de lavandería y 1 estacionamiento (techado opcional).
                      button(type='button', data-toggle='modal', data-target='#modal5') Ver Planta
                    .swiper-button-prev
              
                        

            
          #collapseMainTwo.collapse(aria-labelledby='headingMainTwo' data-parent='#mainFilter')
            .swiper-container.residences-slider
              .swiper-wrapper
                .swiper-slide
                  .img-container
                    img(src="/img/modelo-a.webp")
                  .text-container
                    p.label Tipo B: Townhouses
                    h3.title Modelo A
                    .swiper-pagination
                    .content 
                      ul
                        li 1 nivel 
                        li 3 recámaras 
                        li 2 baños 
                        li Cocina integrada 
                        li Cuarto de lavandería 
                        li Jardín posterior 
                        li 2 estacionamientos
                      button(type='button', data-toggle='modal', data-target='#modal6') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-slide
                  .img-container
                    img(src="/img/modelo-a.webp")
                  .text-container
                    p.label Tipo B: Townhouses
                    h3.title Modelo B
                    .swiper-pagination
                    .content 
                      ul
                        li 1 nivel 
                        li 2 recámaras 
                        li 1 baño 
                        li Cocina integrada 
                        li Cuarto de lavandería 
                        li Jardín posterior 
                        li 2 estacionamientos
                      button(type='button', data-toggle='modal', data-target='#modal7') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-slide
                  .img-container
                    img(src="/img/modelo-c.webp")
                  .text-container
                    p.label Tipo B: Townhouses
                    h3.title Modelo C
                    .swiper-pagination
                    .content 
                      ul
                        li 2 nivel 
                        li 3 recámaras 
                        li Medio baño de visita 
                        li Cocina integrada 
                        li Cuarto de lavandería 
                        li Jardín posterior 
                        li 2 estacionamientos
                      button(type='button', data-toggle='modal', data-target='#modal8') Ver Planta
                    .swiper-button-prev
                    .swiper-button-next
                .swiper-slide
                  .img-container
                    img(src="/img/modelo-d.webp")
                  .text-container
                    p.label Tipo B: Townhouses
                    h3.title Modelo D
                    .swiper-pagination
                    .content 
                      ul
                        li 2 nivel 
                        li 2 recámaras 
                        li 2 baños 
                        li Recámara principal con baño integrado
                        li y balcón/terraza
                        li Cocina integrada 
                        li Cuarto de lavandería 
                        li Jardín posterior 
                        li 2 estacionamientos
                      button(type='button', data-toggle='modal', data-target='#modal9') Ver Planta
                    .swiper-button-prev
          
                    
                  
                  
