@font-face {
    font-family: 'AT Surt';
    src: url('/fonts/ATSurt-Light.eot');
    src: url('/fonts/ATSurt-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-Light.woff2') format('woff2'),
        url('/fonts/ATSurt-Light.woff') format('woff'),
        url('/fonts/ATSurt-Light.ttf') format('truetype'),
        url('/fonts/ATSurt-Light.svg#ATSurt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AT Surt';
    src: url('/fonts/ATSurt-Regular.eot');
    src: url('/fonts/ATSurt-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-Regular.woff2') format('woff2'),
        url('/fonts/ATSurt-Regular.woff') format('woff'),
        url('/fonts/ATSurt-Regular.ttf') format('truetype'),
        url('/fonts/ATSurt-Regular.svg#ATSurt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AT Surt';
    src: url('/fonts/ATSurt-Bold.eot');
    src: url('/fonts/ATSurt-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-Bold.woff2') format('woff2'),
        url('/fonts/ATSurt-Bold.woff') format('woff'),
        url('/fonts/ATSurt-Bold.ttf') format('truetype'),
        url('/fonts/ATSurt-Bold.svg#ATSurt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AT Surt Bold Exp';
    src: url('/fonts/ATSurt-BoldExp.eot');
    src: url('/fonts/ATSurt-BoldExp.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-BoldExp.woff2') format('woff2'),
        url('/fonts/ATSurt-BoldExp.woff') format('woff'),
        url('/fonts/ATSurt-BoldExp.ttf') format('truetype'),
        url('/fonts/ATSurt-BoldExp.svg#ATSurt-BoldExp') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AT Surt Light Exp';
    src: url('/fonts/ATSurt-LightExp.eot');
    src: url('/fonts/ATSurt-LightExp.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-LightExp.woff2') format('woff2'),
        url('/fonts/ATSurt-LightExp.woff') format('woff'),
        url('/fonts/ATSurt-LightExp.ttf') format('truetype'),
        url('/fonts/ATSurt-LightExp.svg#ATSurt-LightExp') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AT Surt Exp';
    src: url('/fonts/ATSurt-RegularExp.eot');
    src: url('/fonts/ATSurt-RegularExp.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ATSurt-RegularExp.woff2') format('woff2'),
        url('/fonts/ATSurt-RegularExp.woff') format('woff'),
        url('/fonts/ATSurt-RegularExp.ttf') format('truetype'),
        url('/fonts/ATSurt-RegularExp.svg#ATSurt-RegularExp') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
