
:root {
    // COLORS

    --primaryColor: #000000;
    --secondaryColor: #FFFFFF;
    --brandColor-green: #065264;
    --brandColor-cream: #F8F6EF;
    --brandColor-ligth-green: #E7EFEE;
    --brandColor-jade: #B0D7D9;



    // FONTS

    --at-surt: 'AT Surt';
    --at-surt-bold-exp:'AT Surt Bold Exp';
    --at-surt-light-exp:'AT Surt Light Exp';
    --at-surt-exp:'AT Surt Exp';
    --playfair-display: 'Playfair Display', serif;

    --h1:calc(40px + 30 * ((100vw - 1280px) / 1920));
    --h2:calc(32px + 30 * ((100vw - 1280px) / 1920));
    --h3:calc(26px + 30 * ((100vw - 1280px) / 1920));
    --h4:calc(22px + 30 * ((100vw - 1280px) / 1920));
    --h5:calc(16px + 30 * ((100vw - 1280px) / 1920));
    --h6:calc(12px + 30 * ((100vw - 1280px) / 1920));

    @media (max-width:992px) {
        --h1:calc(40px + 30 * ((100vw - 320px) / 1280));
        --h2:calc(32px + 30 * ((100vw - 320px) / 1280));
        --h3:calc(26px + 30 * ((100vw - 320px) / 1280));
        --h4:calc(22px + 30 * ((100vw - 320px) / 1280));
        --h5:calc(16px + 30 * ((100vw - 320px) / 1280));
        --h6:calc(12px + 30 * ((100vw - 320px) / 1280));
    }
}
