.bayside{
  .slider-head{
    .row{
      .col-12{
        .swiper-container#head{
          .swiper-wrapper{
            .swiper-slide{
              .img-area{
                img{

                }
              }
            }
          }
          .swiper-pagination{
            bottom: 100px;
            .swiper-pagination-bullet{
              border: 1px solid white;
              opacity: 1;
              width: 9px;
              height: 9px;
              margin: 0 7px;
            }
            .swiper-pagination-bullet-active{
              border: 2px solid white;
              background-color: white;
            }
          }
          .swiper-button-prev{
            width: 47px;
            left: 3%;
            right: auto;
          }
          .swiper-button-prev:after{
            background-image: url("/img/prev.webp");
            width: 47px;
            height: 47px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            color: rgba(0,0,0,0);
          }
          .swiper-button-next{
            width: 47px;
            right: 3%;
            left: auto;
          }
          .swiper-button-next:after{
            background-image: url("/img/next.webp");
            width: 47px;
            height: 47px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            color: rgba(0,0,0,0);
          }
        }
      }
    }
  }
  .pueblos{
    margin-top: -75px;
    padding: 80px 0;
    background-color: var(--brandColor-cream);
    @media (max-width: 480px){
      padding: 40px 0;
    }
    .container{
      .d-flex{
        .col{
          .text-area{
            max-width: 1040px;
            margin-bottom: 80px;
            @media (max-width: 480px){
              margin-bottom: 0px;
            }
            p{
              font-family: var(--at-surt-light-exp);
              font-size: 34px;
              font-weight: lighter;
              line-height: 46px;
              color: var(--brandColor-green);
              @media (max-width: 480px){
                font-size: 18px;
              }
              span{
                font-family: var(--at-surt-exp);
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  .agenda{
    padding: 78px 0;
    background-color: var(--brandColor-ligth-green);
    .container{
      .d-md-flex{
        .col-12{
          .text-area{
            margin-bottom: 60px;
            h2{
              font-size: 26px;
              color: var(--brandColor-green);
              line-height: 38px;
              font-family: var(--at-surt-exp);
              text-transform: uppercase;
              font-weight: 600;
              @media (max-width: 480px){
                font-size: 18px;
              }
            }
          }
          .form-area{
            form{
              .form-row{
                .form-group.col-md-2{
                  input{
                    padding-left: 0;
                    font-family: var(--at-surt-exp);
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid var(--brandColor-green);
                    text-transform: uppercase;
                    color: var(--brandColor-green);

                  }
                  input::placeholder{
                    color: var(--brandColor-green);
                    opacity: 1;
                    font-size: 13px;
                    line-height: 19px;
                    font-family: var(--at-surt-exp);
                  }
                }
                .form-group.col-md-4{
                  select{
                    height: 27px;
                    width: 100%;
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid var(--brandColor-green);
                    text-transform: uppercase;
                    font-size: 13px;
                    line-height: 19px;
                    color: var(--brandColor-green);
                  }
                }
                button{
                  font-family: var(--at-surt-exp);
                  width: 100%;
                  font-size: 13px;
                  line-height: 19px;
                  text-transform: uppercase;
                  color: white;
                  border: unset;
                  background-color: var(--brandColor-green);
                  border-radius: 20px;
                  padding: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
  .panama{
    padding: 150px 0;
    background-color: var(--brandColor-cream);
    padding-bottom: 0;
    @media (max-width: 480px){
      padding-top: 50px;
    }
    .container{
      .d-md-flex{
        .col-md-12{
          .text-area{
            margin-bottom: 44px;
            h2{
              font-size: 122px;
              color: var(--brandColor-green);
              line-height: 126px;
              @media (max-width: 480px){
                font-size: 48px;
                line-height: 63px;
              }
            }
          }
          .text-area-parrafo{
            max-width: 1000px;
            margin-bottom: 61px;
            p{
              font-family: var(--at-surt-exp);
              font-size: 23px;
              color: var(--brandColor-green);
              line-height: 39px;
              @media (max-width: 480px){
                font-size: 18px;
              }
              span{
                font-family: var(--at-surt-bold-exp);
                font-weight: 700;
              }
            }
          }
          .img-area{
            margin-bottom: 120px;
            @media (max-width: 480px){
              padding-bottom: 60px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .overflow-panama{
    padding: 68px 0;
    padding-bottom: 185px;
    background-image: url("/img/mcgrath_playadorada.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 644px;
    background-color: var(--brandColor-cream);
    @media (max-width: 480px){
      background-image: none;
      padding-bottom: 40px;
    }
    .container{
      .d-md-flex{
        .overflow{
          .text-area{
            margin-top: -68px;
            max-width: 640px;
            p{
              font-family: var(--at-surt-light-exp);
              color: var(--brandColor-green);
              font-size: 23px;
              line-height: 39px;
              @media (max-width: 480px){
                font-size: 18px;
              }
              span{
                font-family: var(--at-surt-bold-exp);
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  .ubicacion{
    padding: 50px 0;
    background-color: var(--brandColor-green);
    .container{
      .d-md-flex{
        .col-md-4{
          .text-area{
            max-width: 450px;
            h2{
              font-family: var(--at-surt-bold-exp);
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              color: var(--brandColor-cream);
              text-transform: uppercase;
              margin-bottom: 195px;
              @media (max-width: 480px){
                margin-bottom: 50px;
              }
            }
            p{
              font-family: var(--at-surt-light-exp);
              max-width: 90%;
              line-height: 46px;
              font-size: 34px;
              color: var(--brandColor-cream);
              @media (max-width: 480px){
                font-size: 18px;
              }
              span{
                font-family: var(--at-surt-bold-exp);
                font-weight: 700;
              }
            }
          }
        }
        .col-md-8{
          margin-bottom: 100px;
          @media (max-width: 480px){
            margin-bottom: 50px;
          }
          .map-area{
            height: 574px;
            iframe{
              height: 100%;
              width: 100%;
            }
          }
        }
        .col-md-5.offset-md-7{
          .text-area{
            margin-bottom: 50px;
            @media (max-width: 480px){
              margin-bottom: 0;
            }
            p{
              font-family: var(--at-surt);
              color: var(--brandColor-cream);
              font-size: 17px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
  .club{
    padding: 100px 0;
    background-color: #B0D7D9;
    @media (max-width: 480px){
      padding: 50px 0;
    }
    .container{
      .d-md-flex{
        margin-bottom: 100px;
        @media (max-width: 480px){
          margin-bottom: 50px;
        }
        .col-md-12{
          margin-bottom: 50px;
          h2{
            color: var(--brandColor-green);
            font-size: 122px;
            line-height: 126px;
            max-width: 50%;
            @media (max-width: 480px){
              font-size: 40px;
              line-height: 63px;
            }
          }
        }
        .col-md-8{
          #bayside-club{
            .swiper-wrapper{
              .swiper-slide{
                .img-area{
                  img{

                  }
                }
              }
            }
            .swiper-pagination{
              bottom: 80px;
              .swiper-pagination-bullet{
                border: 1px solid white;
                opacity: 1;
                width: 9px;
                height: 9px;
                margin: 0 7px;
              }
              .swiper-pagination-bullet-active{
                border: 2px solid white;
                background-color: white;
              }
            }
            .swiper-button-prev{
              width: 47px;
              left: 3%;
              right: auto;
              bottom: 12%;
              top: auto;
              @media (max-width: 480px){
                bottom: 30%;
              }
            }
            .swiper-button-prev:after{
              background-image: url("/img/prev.webp");
              width: 47px;
              height: 47px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              color: rgba(0,0,0,0);
            }
            .swiper-button-next{
              width: 47px;
              right: 3%;
              left: auto;
              bottom: 12%;
              top: auto;
              @media (max-width: 480px){
                bottom: 31%;
              }
            }
            .swiper-button-next:after{
              background-image: url("/img/next.webp");
              width: 47px;
              height: 47px;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              color: rgba(0,0,0,0);
            }
          }
        }
        .col-md-4{
          .text-area{
            p{
              font-family: var(--at-surt);
              font-size: 17px;
              line-height: 26px;
              color: var(--brandColor-green);
              span{
                font-family: var(--at-surt);
                font-weight: 700;
              }
            }
          }
          .form-area{
            margin-top: 47px;
            form{
              .form-row{
                .form-group{
                  input{
                    padding-left: 0;
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid var(--brandColor-green);
                  }
                  input::placeholder{
                    font-family: var(--at-surt-exp);
                    color: var(--brandColor-green);
                    opacity: 1;
                    text-transform: uppercase;
                    font-size: 13px;
                    line-height: 19px;
                  }
                  button{
                    margin-top: 10px;
                    font-family: var(--at-surt-exp);
                    width: 100%;
                    font-size: 13px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: white;
                    border: unset;
                    background-color: var(--brandColor-green);
                    border-radius: 20px;
                    padding: 8px;
                  }
                }
              }
            }
          }
        }
      }
      .items{
        margin-bottom: 0;
        .col-md-3{
          margin-bottom: 31px;
          .item-area{
            margin-left: 70px;
            display: inline-block;
            @media (max-width: 480px){
              margin-left: 0px;
            }
            .img-area{
              display: inline-block;
              width: 40px;
              height: 40px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            p{
              font-size: 13px;
              line-height: 19px;
              color: #065264;
              font-family: var(--at-surt-exp);
              display: inline-block;
              text-transform: uppercase;
              margin-left: 21px;
            }
          }
        }
        .col-md-3:first-of-type{
          .item-area{
            .img-area{
              width: 40px;
              height: 30px;
            }
          }
        }
      }
    }
  }
  .cita{
    padding-bottom: 126px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 666px;
    background-image: url("/img/agenda.webp");
    background-color: var(--brandColor-ligth-green);
    @media (max-width: 480px){
      background-image: none;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .container{
      .d-md-flex{
        .col-md-7{
          .text-area{
            margin-top: 250px;
            @media (max-width: 480px){
              margin-top: 0;
            }
            h2{
              font-size: 122px;
              line-height: 126px;
              color: var(--brandColor-green);
              max-width: 70%;
              margin-bottom: 60px;
              @media (max-width: 480px){
                font-size: 40px;
                line-height: 63px;
                margin-bottom: 30px;
              }
            }
            p{
              font-family: var(--at-surt);
              font-size: 16px;
              color: var(--brandColor-green);
            }
          }
          .form-area{
            margin-top: 100px;
            @media (max-width: 480px){
              margin-top: 50px;
            }
            form{
              .form-row{
                max-width: 670px;
                .form-group{
                  input{
                    width: 100%;
                    padding-left: 0;
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid #B0D7D9;
                  }
                  input::placeholder{
                    font-size: 13px;
                    font-family: var(--at-surt-exp);
                    color:  var(--brandColor-green);
                    opacity: 1;
                    text-transform: uppercase;
                  }
                  select{
                    font-size: 13px;
                    font-family: var(--at-surt-exp);
                    text-transform: uppercase;
                    color: var(--brandColor-green);
                    padding-left: 0;
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid #B0D7D9;
                    height: 27px;
                    width: 313px;
                    max-width: 100%;
                  }
                }
                button{
                  font-size: 13px;
                  font-family: var(--at-surt-exp);
                  color: var(--brandColor-cream);
                  background-color: var(--brandColor-green);
                  border-radius: 30px;
                  border: 1px solid  var(--brandColor-green);
                  width: 313px;
                  height: 30px;
                }
              }
              .form-row:first-of-type{
                margin-bottom: 50px;
                @media (max-width: 480px){
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .col-md-5{
          .img-area{
            height: 950px;
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .d-md-flex{
    flex-wrap: wrap;
  }
  img{
    width: 100%;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 50%;
    }
  }
  input{
    width: 100%;
  }
}
