.home{

    .hero{
        padding: 40px 0;
        position: relative;
        min-height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--pasos{

        &__paso{
            margin-bottom: 15px;

            h2{
                color: var(--primaryColor);
                font-size: 80px;
                font-family:var(--primariaBold);
            }

            h3{
                color: var(--secondaryColor);
                margin-left: 20px;
                font-size: var(--h3);

                b{
                    font-family: var(--secundariaBold);
                }
            }

            &:nth-child(2){
                margin-left: 40px;
            }

            &:nth-child(3){
                margin-left: 80px;
            }

        }
    }

    &--pleca{
        padding: 20px;

        h4{
            font-size: var(--h2);
            text-align: center;
            font-family: var(--secundariaBold);
            text-decoration: underline;
            cursor: pointer;
            transition: .3s ease-in-out all;

            &:hover{
                color: var(--vino);
            }
        }
    }

    &--fecha{
        font-size: var(--h5);
        color: var(--secondaryColor);
        text-align: center;
        margin: 20px auto;
    }


    @media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {

    }}
}
