.container{
  max-width: 1440px;
  @media (min-width: 1400px) {
    padding: 0 45px;
  }
}
.heading{
  font-family: 'Playfair Display', serif;
}
/// TEXTOS

h1,h2,h3,h4,h5,h6{
    line-height: 1.3;
}

h2.titulos{
    color: var(--secondaryColor);
    text-align: center;
}


.linkBoton{
    width: max-content;
    margin: auto;
}
