- titulo = "Site Title Home"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.bayside
          section.slider-head
            .row
              .col-12
                .swiper-container#head
                  .swiper-wrapper
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                    .swiper-slide
                      .img-area
                        img(src="/img/head-fix.webp", alt="Playa Dorada - Head ")
                  .swiper-pagination.d-flex.justify-content-center.align-items-center
                  .swiper-button-prev
                  .swiper-button-next
          section.pueblos
            .container
              .d-flex
                .col
                  .text-area                
                    p #[span El más reciente proyecto de Grupo Los Pueblos está ubicado en un lugar privilegiado], ideal para que disfrutes de la vida en tus propios términos, rodeado de parajes incomparables, acceso privado a la playa, comodidades y una amplia variedad de actividades al aire libre para toda la familia.
          section.agenda
            .container
              .d-md-flex
                .col-12
                  .text-area
                    h2 AGENDA UNA CITA Y CONOCE EL PROYECTO
                  .form-area
                    form
                      .form-row
                        .form-group.col-md-2
                          input(type="text" placeholder="Nombre")
                        .form-group.col-md-2
                          input(type="text" placeholder="Apellido")
                        .form-group.col-md-4
                          select(name="Como deseas ser contactado") 
                            option(value="opcion1") ¿Cómo desea ser contactado?
                            option(value="opcion2") Opción 1 
                            option(value="opcion3") Opción 2 
                            option(value="opcion4") Opción 3  
                        .form-group.col-md-4
                          button Agenda una cita                
          section.panama
            .container
              .d-md-flex
                .col-md-12
                  .text-area
                    h2.heading Bayside Panama
                .col-md-12
                  .text-area-parrafo
                    p Bayside es un #[span resort-style community] diseñado especialmente para quienes desean vivir en un #[span santuario natural] con todas las facilidades de un moderno complejo privado, combinado con las extraordinarias amenidades de un #[span complejo turístico.]
                .col-md-12
                  .img-area
                    img(src="/img/panama.webp" alt="Bayside Panamá")
          section.overflow-panama
            .container
              .d-md-flex            
                .col-md-6.offset-md-6.overflow
                  .text-area
                    p El área residencial, ofrece #[span casas unifamiliares, adosadas, apartamentos y lotes,] todos con acceso al club de playa, piscinas, bar de playa, canchas deportivas, comercios, restaurantes y mucho más. Adicionalmente, el proyecto incluye la construcción de un #[span Club], el cual combina vistas hacia el jardín y hacia el mar, así como espacios de recreación y disfrute.
          section.ubicacion#ubicacion
            .container
              .d-md-flex
                .col-md-4
                  .text-area
                    h2 La ubicación
                    p Bayside se encuentra ubicado #[span en Panamá Oeste, Costanera:] donde el mar, la metrópolis y la naturaleza se unen. A 20 km del centro de la Ciudad de Panamá.
                .col-md-8
                  .map-area
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31535.05431749902!2d-79.68153463395998!3d8.89058130232825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca31ef04ec2bb%3A0x9fb1a3e491e326e0!2sAlkeyler%20%7C%20Playa%20Dorada!5e0!3m2!1ses-419!2smx!4v1665374880996!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                .col-md-5.offset-md-7
                  .text-area
                    p Dotado de una conectividad privilegiada, el complejo de Bayside cuenta con acceso desde la autopista Arraiján-Chorrera y desde la carretera Interamericana, así como desde la Vía Costanera, la cual muy pronto conectará todo el corredor de las playas, ofreciendo un interesante circuito de turismo, gastronomía y entretenimiento.
                    
          include includes/residences.pug
          
                      
          section.club#club
            .container
              .d-md-flex
                .col-md-12
                  h2.heading Bayside Club
                .col-md-8
                  .swiper-container#bayside-club
                    .swiper-wrapper
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")    
                      .swiper-slide
                        .img-area
                          img(src="/img/club.webp", alt="Playa Dorada - Head ")    
                    .swiper-pagination.d-flex.justify-content-center.align-items-center
                    .swiper-button-prev
                    .swiper-button-next        
                .col-md-4
                  .text-area
                    p #[span Bayside Club es un oasis para el descanso de los cinco sentidos frente al mar.] A 20 km del centro de la ciudad de Panamá Rodeado de palmeras, y a orillas de costa pacífica, ofrece tanto #[span alojamiento ocasional,] como opciones para quienes desean #[span invertir en una propiedad turística.] Su arquitectura y paisajismo se inspiran en la biodiversidad botánica panameña, cuidando de cada detalle para asegurar una estancia incomparable en el área. #[span Las instalaciones son ideales para quienes disfrutan de la vida al aire libre, cuidan de su bienestar de forma integral y buscan un lugar estratégicamente ubicado en el istmo de Panamá desde el cual se puedan desplazar a otras playas cercanas o sitios de interés turístico en el resto del país.] Bayside Club contara con un sinnúmero de amenidades residenciales así como de las turisticas:
                  .form-area
                    form
                      .form-row
                        .form-group.col-md-5
                          input(type="text" placeholder="Nombre")
                        .form-group.col-md-5                   
                          input(type="text" placeholder="Apellido")       
                        .form-group.col-md-10                        
                          input(type="email" placeholder="E-mail")
                        .form-group.col-md-10                        
                          button  Descarga el brochure completo
              .d-md-flex.items
                .col-md-3
                  .item-area
                    .img-area
                      img(src="/img/restaurantes.webp", alt="Restaurantes")
                    p Restaurantes
                .col-md-3  
                  .item-area
                    .img-area
                      img(src="/img/club-residences.webp", alt="Club Residences")
                    p Club residences
                .col-md-3    
                  .item-area
                    .img-area
                      img(src="/img/terraza.webp", alt="Terraza")
                    p Terraza
                .col-md-3  
                  .item-area
                    .img-area
                      img(src="/img/bar.webp", alt="Bar")
                    p Bar
                .col-md-3  
                  .item-area
                    .img-area
                      img(src="/img/gimnasio.webp", alt="Gimnasio")
                    p Gimnasio
                .col-md-3  
                  .item-area
                    .img-area
                      img(src="/img/piscinas.webp", alt="Piscinas")
                    p Piscinas
                .col-md-3  
                  .item-area
                    .img-area
                      img(src="/img/coworking.webp", alt="Coworking")
                    p Coworking        
          section.cita#agenda
            .container
              .d-md-flex
                .col-md-7
                  .text-area
                    h2.heading Agenda una cita
                    p Agenda una cita con uno de nuestros asesores para visitar Bayside
                  .form-area
                    form(action="")
                      .form-row
                        .form-group.col-md-6
                          input(type="text" placeholder="Nombre")
                        .form-group.col-md-6  
                          input(type="number" placeholder="Celular")
                      .form-row
                        .form-group.col-md-6
                          select
                            option(value="opcion1") ¿Cómo desear ser contactado?
                            option(value="opcion2") Opción 2 
                            option(value="opcion3") Opción 3 
                            option(value="opcion4") Opción 4  
                        button Enviar               
        include includes/footer.pug
