.footer{
  background-color: #F8F6EF;
  padding-top: 100px;
  @media (max-width: 480px){
    padding-top: 50px;
  }
  .container{
    .d-md-flex{
      .col-12{
        .img-area{
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          width: 296px;
          margin-bottom: 100px;
          @media (max-width: 480px){
            margin-bottom: 50px;
          }
          img{
            width: 100%;
          }
        }
      }
    }
    .contacto{
      margin-left: 50px;
      margin-right: 50px;
      @media (max-width: 480px){
        margin-left: 0px;
        margin-right: 0px;
      }
      .col-md-3{
        @media (max-width: 480px){
          margin-bottom: 50px;
        }
        .img-area{
          height: 33.33px;
          width: 20px;
          margin-bottom: 25px;
          @media (max-width: 480px){
            margin-bottom: 0;
          }
          img{
            width: 100%;
            height: auto;
          }
        }
        .img-area.wider{
          width: 26px;
        }
        .text-area{
          h3{
            font-family: var(--at-surt-light-exp);
            font-size: 34px;
            line-height: 46px;
            color: #065264;
            margin-bottom: 61px;
            @media (max-width: 480px){
              margin-bottom: 0;
              font-size: 24px;
            }
          }
          p{
            font-family: var(--at-surt);
            font-size: 16px;
            line-height: 26px;
            color: #065264;
          }
          p:nth-of-type(1){
            margin-bottom: 20px;
          }
          p:nth-of-type(2){
            margin-bottom: 0px;
          }
        }
      }
      .links{
        border-left: 1px solid #065264;
        @media (max-width: 480px){
          margin-bottom: 0;
          border-left: none;
          border-top: 1px solid #065264;
        }
        .links-area{
          margin-top: 10px;
          margin-left: 50px;
          @media (max-width: 480px){
            margin-left: 0;
            text-align: center;
            margin-top: 50px;
          }
          a{
            font-size: 13px;
            color: #065264;
            text-transform: uppercase;
            margin-bottom: 30px;
            display: block;
          }
          a:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      .tel{
        .whatsapp-area{
          .img-area{
            display: inline-block;
            width: 17px;
            height: 17px;
            margin-bottom: 0;
            img{
              width: 100%;
            }
          }
          p{
            font-size: 16px;
            font-family: var(--at-surt);
            color: #065264;
            margin-bottom: 0;
            display: inline-block;
          }
        }
      }
    }
    .copyrigth{
      margin-top: 128px;
      @media (max-width: 480px){
        margin-top: 50px;
      }
      .col-12{
        border-top: 1px solid #065264;
        padding: 36px 0;
        text-align: center;
        .copyrigth-area{
          .img-area{
            display: inline-block;
            width: 17px;
            height: 17px;
            margin-bottom: 0;
            img{
              width: 100%;
            }
          }
          p{
            margin-bottom: 0;
            font-family: var(--at-surt);
            font-size: 16px;
            line-height: 26px;
            color: #065264;
            display: inline-block;
          }
        }
      }
    }
  }
}
