.header{
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: .3s ease-in-out all;
  background-color: #F8F6EF;
  @media (max-width: 480px){
    min-height: 52px;
    height: auto;
  }

  .container{
    padding-right: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    @media (max-width: 480px){
      padding: 0;
    }

    [class*="col-"]{
      padding: 0;
    }
  }


  &--navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;



    .navbar-expand-lg{
      width: 100%;

      #logo-brand{
        position: absolute;
        top: 12px;
        padding-left: 15px;
        @media (max-width: 480px){
          padding-left: 30px;
        }

        img{
          width: 160px;
        }
      }
    }
    .navbar-collapse{
      justify-content: flex-end;
    }

    .btn{
      width: 40px;
      height: 40px;
      // background: url("../img/iconHam.webp") no-repeat center / contain;
      transition: .2s ease-in-out all;
      position: absolute;
      right: 0;
      margin: 1em auto;
      display: none;
      @media (max-width: 480px){
        margin: 0;
        right: 20px;
        top: 15px;
        padding: 0;
        display: flex;
        flex-flow: column;
        height: 20px;

      }

      .line {
        background-color: var(--brandColor-green);
        width: 20px;
        height: 3px;
        display: block;
        margin-bottom: 5px;
        margin: auto;

      }
      &.nav-on{
        // background: url("../img/close.svg") no-repeat center / 25px;
      }
    }

    #navbarNav{
      // position: fixed;

      ul{
        max-width: 1200px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 480px){
          flex-direction: column;
          margin-top: 56px;
        }

        li{
          text-align: left;
          list-style: none;
          padding: 10px 50px;
          // margin-bottom: 15px;
          cursor: pointer;
          font-family: var(--primariaBold);
          font-size: 12px;
          text-transform: uppercase;
          line-height: 16px;

          &:last-of-type{
            background-color: var(--brandColor-green);
            a{
              color: var(--brandColor-cream);
            }

          }
          &:hover{
            background-color: var(--brandColor-jade);
            a{
              color: var(--brandColor-green);

            }
          }

          a{
            color: var(--brandColor-green);
            text-decoration: none;
            @media (max-width: 480px){
              padding-left: 0;
            }
          }
          a:active{
            color: #F8F6EF;
          }

          &:hover:not(#li-img), &.activo{
            color: #F8F6EF;
          }

          img{
            transition: .3s ease-in-out all;
            width: 160px;
            height: auto;
          }
        }
      }
    }

  }

  &.activo{


    //         background: rgba(0,0,0,1);
    // background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(68%, rgba(119,2,0,1)), color-stop(100%, rgba(175,3,0,0)));
    // background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
    // background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
    // background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
    // background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(119,2,0,1) 68%, rgba(175,3,0,0) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#af0300', GradientType=0 );

    ul li img{
      width: 100px;
    }
  }
}
