// **** \\ STYLES_CSS // **** //

* {
   font-family: var(--at-surt);
   scroll-margin-top: 52px;
  }
html, body{
   scroll-behavior: smooth;
}
body {
    // background: $primaryColor;
    overflow-x: hidden !important;


    @import "header";
    @import "footer";
    @import "pages/stylesGenerals";
    @import "pages/_home";
    @import "pages/_faqs";
    @import "pages/_bayside";
    @import "components/_residences";
}
